<script>
	socket.on("RFID value",function(data){
		console.log(data);
		$('#RFID').val(data.RFID);
	});
	
	//Stop the Audio start up
	socket.emit("SONG_STOP",{data:4});

</script>
<div class="panel panel-danger">
 <div class="panel-heading">
  Add an Artefact
 </div>
 <div class="panel-body">
	<form method='post' action='/uploadArtefact' enctype='application/x-www-form-urlencoded'>
	 <div class="panel-body form-horizontal">
	  <div class="form-group col-md-12">
	   <label class="col-md-3">Name: </label>
           <div class="col-md-9">
	    <input class="form-control" type="text" name="name"/>
	   </div>
	  </div>
	  <div class="form-group col-md-12">
	   <label class="col-md-3">Description:</label>
	   <div class="col-md-9">
		<input type="textarea" class="form-control" placeholder="'1200 AD artefact' 'Indu goddess'" name="des"/>
	   </div>
	  </div>
	  <div class="form-group col-md-12">
            <label class="col-md-3" for="description">RFID Label:</label>
              <div class="col-md-9">
               <input id = "RFID" class="form-control" name="RFID" type="text" />
              </div>
          </div>
	  <div class="form-group col-md-12">
		<div class="col-md-12 text-right">
			<button type="submit" class="btn btn-success">Save</button>
		</div>
	  </div>
	 </div>
	</form>
 </div>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
  Recently added Artefacts
 </div>
 <div class="panel-body">
	{{#each Artefacts}}
	 <div class="col-md-4 text-center" style="padding-bottom:lem;">
           <a href="artefact/{{id}}">
		<img src="/public/img/artefact.png" alt="{{name}}" style="color: #000; width: 100px; height: 100px;" class="img-thumbnail">
           </a>
           </br>
             {{name}}
         </div>
	{{/each}}       
 </div>
</div>

