<div class="panel panel-default">
 <div class="panel-heading">
  Artefact Details
 </div>
 <div class="panel-body">
	 <div class="col-md-12">
	   <label class="col-md-2">Name: </label>
           <div class="col-md-10">
	    <p>{{artefact.name}}</p>
	   </div>
	 </div>
	 <div class="col-md-12">
	   <label class="col-md-2">Description:</label>
	   <div class="col-md-10">
		<p>{{artefact.description}}</p>
	   </div>
	 </div>
	 <div class="form-group col-md-12">
	   <label class="col-md-2">Audio:</label>
	   <div class="col-md-10">
	    <p>{{artefact.audiofile}}</p>
	   </div>
	 </div>
	<div class="form-group col-md-12">
           <label class="col-md-2">RFID:</label>
           <div class="col-md-10">
            <p>{{artefact.RFID}}</p>
           </div>
         </div>

 </div>
</div>


