<div class="panel panel-default">
 <div class="panel-heading">
  Audio Details
 </div>
 <div class="panel-body">
	 <div class="col-md-12">
	   <label class="col-md-2">Name: </label>
           <div class="col-md-10">
	    <p>{{audio.name}}</p>
	   </div>
	 </div>
	 <div class="col-md-12">
	   <label class="col-md-2">Description:</label>
	   <div class="col-md-10">
		<p>{{audio.id}}</p>
	   </div>
	 </div>
 </div>
</div>


